In [1]:
def konversiSuhu(suhu):
   drjt = int(suhu[:-1])
   inputan = suhu[-1]

   if inputan.upper() == "C":
     hasil1 = float((9 * drjt) / 5 + 32)
     hasil2 = float(drjt + 273.15)
     hasil3 = float(4/5 * drjt)
     jenisX = "Celcius"
     jenis1 = "Fahrenheit"
     jenis2 = "Kelvin"
     jenis3 = "Reamur"
     print(drjt,jenisX,"=","{:.1f}".format(hasil1),jenis1)
     print(drjt,jenisX,"=","{:.1f}".format(hasil2),jenis2)
     print(drjt,jenisX,"=","{:.1f}".format(hasil3),jenis3)
                
   elif inputan.upper() == "F":
     hasil1 = float((drjt - 32) * 5 / 9)
     hasil2 = float(((drjt - 32) * 5 / 9) + 273.15)
     hasil3 = float(4/9 * (drjt-32))
     jenisX = "Fahrenheit"
     jenis1 = "Celsius"
     jenis2 = "Kelvin"
     jenis3 = "Reamur"
     print(drjt,jenisX,"=","{:.1f}".format(hasil1),jenis1)
     print(drjt,jenisX,"=","{:.1f}".format(hasil2),jenis2)
     print(drjt,jenisX,"=","{:.1f}".format(hasil3),jenis3)

   elif inputan.upper() == "K":
     hasil1 = float(drjt - 273.15)
     hasil2 = float(((drjt - 273.15) * 9 / 5)+32)
     hasil3 = float(4/5 * (drjt-273))
     jenisX = "Kelvin"
     jenis1 = "Celcius"
     jenis2 = "Fahrenheit"
     jenis3 = "Reamur"
     print(drjt,jenisX,"=","{:.1f}".format(hasil1),jenis1)
     print(drjt,jenisX,"=","{:.1f}".format(hasil2),jenis2)
     print(drjt,jenisX,"=","{:.1f}".format(hasil3),jenis3)
     
   elif inputan.upper() == "R":
     hasil1 = float((5/4) * drjt)
     hasil2 = float((9/4 * drjt) + 32)
     hasil3 = float((5/4 * drjt) + 273)
     jenisX = "Reamur"
     jenis1 = "Celcius"
     jenis2 = "Fahrenheit"
     jenis3 = "Kelvin"
     print(drjt,jenisX,"=","{:.1f}".format(hasil1),jenis1)
     print(drjt,jenisX,"=","{:.1f}".format(hasil2),jenis2)
     print(drjt,jenisX,"=","{:.1f}".format(hasil3),jenis3)
     
   else:
      print("Inputan tidak sesuai!! Perhatikan Penulisan Input")


i=0
print("Program Konversi Suhu ")
while i==0:
   temp = input("\nMasukan suhu? (Misal: 30C, 20F, 21K, 44R): ")
   konversiSuhu(temp)

   lagi=int(input("Hitung lagi?1=ya & 0=tidak = "))
   if(lagi==1):
      i=0
   elif(lagi!=1):
      i=1

Program Konversi Suhu

Masukan suhu? (Misal: 30C, 20F, 21K, 44R): 30
Inputan tidak sesuai!! Perhatikan Penulisan Input
Hitung lagi?1=ya & 0=tidak = 0

In [3]:

import mysql.connector

db = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd=""
)

cursor = db.cursor()
cursor.execute("CREATE DATABASE db_Film")

print("Database berhasil dibuat!")

DatabaseError: 1007 (HY000): Can't create database 'db_film'; database exists

In [4]:
import mysql.connector

db = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="",
    database="db_Film"
)

cursor = db.cursor()
sql = """CREATE TABLE tblFilm (
    Kode_id INT AUTO_INCREMENT PRIMARY KEY,
    Judul_Film VARCHAR(255),
    Jenis_Film VARCHAR(255),
    Deskripsi_Film VARCHAR(255)
)
"""
cursor.execute(sql)

print("Tabel Film berhasil dibuat")

ProgrammingError: 1050 (42S01): Table 'tblfilm' already exists